*.bin
.idea/
*.log
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.sass-cache
/logs
404.shtml
cgi-bin/
default.htm
favicon.ico
.ftpquota
.htaccess
kampojuanph.com/
phpinfo.php
php.ini
robots.txt
under_construction.html