/*Footer*/
div.footerholder > footer > div {
	height: auto;
}
div.footerholder > footer > div > div.icon-holder > div{ 
	background:#222; padding: 30px 0; text-align: right;
}
footer > div > div.credits > div { 
	background: #181818;  padding: 30px 30px 30px 30px ; 
}
footer > div > div.credits > div > h6 {
	color: #888; font-size: 12px; text-align: center; 
}
div.footerholder  footer h6 {
	font-family: "time",Helvetica,Arial,sans-serif;
	color: #fff;
	font-weight: bolder;} 
/*Social Media*/
.social-media >a >i {padding: 0 0 0 5px; color: #FCB545; }
div.footerholder  div.icon-holder  div.social-media  > h6 {
	margin-bottom: 40px;
}
div.footerholder div.icon-holder div.social-media > h6::after{ 
	background: #FCB545;
    content: "";
    display: block;
    height: 5px;
    margin-top: 10px;
    width: 60px;
    position: absolute;
    right: 30px;
    padding-right: 90px;
}
div.footerholder div.icon-holder div.social-media {
	padding-right: 30px;
	padding-bottom: 61px;
}

/*Contacts*/
div.footerholder div.icon-holder div.contact > h6 {
	margin-bottom: 40px;
	text-align: left;
}
div.footerholder div.icon-holder div.contact > h6::after{ 
	background: #FCB545;
    content: "";
    display: block;
    height: 5px;
    margin-top: 10px;
    width: 60px;
    position: absolute;
    padding-right: 90px;
    float: left;
}
div.footer-container p {
	text-align: left;
	color: #FCB545;
	font-size: 12px;
	margin: 0px;
}
div.footerholder div.icon-holder div.contact {
	padding-left: 30px;
	padding-bottom: 17px;
}

@media only screen and (max-width: 40.063em) { 
	div.footerholder div.icon-holder div.social-media > h6::after{ 
	background: #FCB545;
    content: "";
    display: block;
    height: 5px;
    margin-top: 10px;
    width: 60px;
    position: absolute;
    padding-right: 90px;
}
div.footerholder > footer > div > div.icon-holder > div{ 
	background:#222; padding: 30px 0;
}

}

