@import url('/resources/css/modules/aboutus.css');
@import url('/resources/css/modules/service.css');
@import url('/resources/css/modules/jobopening.css');
@import url('/resources/css/modules/webfooter.css');


.section-home p { font-size: 0.875em; }

body {  
		font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
		color: #999;
	}

/*Top BAr*/
.top-bar-section ul li > a {
      display: block;
      color: white;
      padding: 12px 0 12px 0;
      padding-left: 15px;
      font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      font-size: 12px;
      font-weight: bold;
      text-transform: none;
      }

header > div:nth-child(2) > div > div > div > nav.top-bar.show-for-medium-up > section > ul > li > a:hover {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	color: #1AA94A;
}


.top-bar-section > ul > .right > li >a {
      color: #1AA94A; 
  }
.top-bar-section ul.right li a:hover {
      color: #1AA94A; 
  } 



/*Slider*/
.rslides img {
  height: auto;
  float: left;
  border: 0;
  margin-top: 5px;
}

img {
  display: inline-block;
  vertical-align: middle; 
  margin-bottom: 10px;
}


/*map*/
#map-canvas { width: 100%; height: 400px;background-color: #CCC;}

.logo-text-holder {
  padding-right: 0;
  position: relative;
  right: 110px;
  top: 40px;
}



@media only screen and (max-width: 40.063em) { 
  .logo-text {margin: 0;padding: 0; width: 80%; }
  .logo-globe-holder { padding: 10px !important;}
  .logo-globe-holder { padding: 0;}
}


@media only screen and (min-width: 40.063) and (max-width: 64em)  {
  .logo-globe-holder { padding-right: 0;}
  .logo-text-holder {padding-left: 0; position: relative; top: 40px; }

}

@media only screen and (max-width: 1280px) { .logo-text-holder { right: 100px }}
@media only screen and (max-width: 1024px) { .logo-text-holder { right:60px }}
@media only screen and (max-width: 375px) {.logo-text-holder { margin-top: 15px; padding: 0; right: 0; }}


.content-box { box-shadow: 0px 9px 14px -6px #a6a6a6; border-radius: 80px; }
.panelradiusbox { border-radius: 50px;}

div.content-box > .panelradiusbox > div > div > h4 { color: #273777; font-weight: bold;}

/*Man Power Request*/
form > div.mpr-holder > div > fieldset > legend {
  color: #273777;
  font-weight: bold;
}
form > div.mpr-holder > div > fieldset >  div > div > input[type="text"] {
  border-left: 2px solid #FCB545;
}
/*End Man Power Request*/







